body {
    font-family: sans-serif;
}

img {
    border: solid 1px #ddd;
    margin: 0 2px;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
    padding: 10vh 0;
}

.konvajs-content {
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid red;
    margin: 0 auto;
}

p {
    margin: 4px;
}

#drag-items img {
    height: 200px;
    width: 200px;
}

button {
    height: 50px;
    margin: 15px;
}

h3 > button {
    margin: 0;
    float: right;
    width: 100px;
    height: 100%;
    border-radius: 8px;
    background: rgb(250, 112, 154);
    background: linear-gradient(
        -20deg,
        rgba(250, 112, 154, 1) 25%,
        rgba(254, 225, 64, 1) 75%
    );
    cursor: pointer;
}
