body {
    font-family: sans-serif;
}

img {
    border: solid 1px #ddd;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f0f0f0;
}

#container {
    text-align: center;
}

.konvajs-content {
    background-color: rgba(0, 0, 0, 0.1);
    border: 5px solid red;
    margin: 0 auto;
}

p {
    margin: 4px;
}

#drag-items img {
    height: 100px;
    width: 100px;
}

#LayersBlock {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.LayerEach {
    width: 350px;
    height: 50px;
    border: 2px solid blue;
    margin: 10px auto 0 15px;
}

button {
    height: 50px;
    margin: 15px;
}
